In [1]:
import pandas as pd
import os
import glob

### data clean

In [2]:
files_Month = [file for file in os.listdir('../data/Month')] 
files_Month

['April_2019.csv',
 'August_2019.csv',
 'December_2019.csv',
 'February_2019.csv',
 'January_2019.csv',
 'July_2019.csv',
 'June_2019.csv',
 'March_2019.csv',
 'May_2019.csv',
 'November_2019.csv',
 'October_2019.csv',
 'September_2019.csv']

In [3]:
all_months_data = pd.DataFrame()

for file in files_Month:
    df = pd.read_csv('../data/Month/' + file)
    all_months_data = pd.concat([all_months_data, df])

In [4]:
print(all_months_data.duplicated)

<bound method DataFrame.duplicated of       Order_ID      Month
0       176558      April
1          NaN      April
2       176559      April
3       176560      April
4       176560      April
...        ...        ...
11681   259353  September
11682   259354  September
11683   259355  September
11684   259356  September
11685   259357  September

[186850 rows x 2 columns]>

In [5]:
months=all_months_data.drop_duplicates('Order_ID')

In [6]:
months

      Order_ID      Month
0       176558      April
1          NaN      April
2       176559      April
3       176560      April
5       176561      April
...        ...        ...
11681   259353  September
11682   259354  September
11683   259355  September
11684   259356  September
11685   259357  September

[178439 rows x 2 columns]

In [7]:
months.to_csv("../data/Month_data.csv", index=False)

In [8]:
files_customer_information = [file for file in os.listdir('../data/customer information')] 
files_customer_information

['customer information April.csv',
 'customer information August.csv',
 'customer information December.csv',
 'customer information February.csv',
 'customer information January.csv',
 'customer information July.csv',
 'customer information June.csv',
 'customer information March.csv',
 'customer information May.csv',
 'customer information November.csv',
 'customer information October.csv',
 'customer information September.csv']

In [9]:
all_customer_data = pd.DataFrame()

for file in files_customer_information:
    df = pd.read_csv('../data/customer information/' + file)
    all_customer_data = pd.concat([all_customer_data, df])

all_customer_data.to_csv("../data/all_customer_data.csv", index=False)

In [10]:
all_customer = pd.read_csv('../data/all_customer_data.csv',usecols=['Order_ID','Purchase_Address'])

In [11]:
all_customer.isnull().sum()

Order_ID            17132
Purchase_Address      545
dtype: int64

In [12]:
customerdrop = all_customer.dropna(how='all')
customerdrop.isnull().sum()

Order_ID            16587
Purchase_Address        0
dtype: int64

In [13]:
customers=customerdrop.drop_duplicates('Order_ID')
customers

       Order_ID                         Purchase_Address
0        176558             917 1st St, Dallas, TX 75001
2        176559        682 Chestnut St, Boston, MA 02215
3        176560     669 Spruce St, Los Angeles, CA 90001
5        176561        333 8th St, Los Angeles, CA 90001
6        176562   381 Wilson St, San Francisco, CA 94016
...         ...                                      ...
186845   259353   840 Highland St, Los Angeles, CA 90001
186846   259354  216 Dogwood St, San Francisco, CA 94016
186847   259355     220 12th St, San Francisco, CA 94016
186848   259356   511 Forest St, San Francisco, CA 94016
186849   259357   250 Meadow St, San Francisco, CA 94016

[162613 rows x 2 columns]

In [14]:
customers.to_csv("../data/customer.csv", index=False)

In [15]:
files_product_information = [file for file in os.listdir('../data/product')] 
files_product_information

['product_April.csv',
 'product_August.csv',
 'product_December.csv',
 'product_February.csv',
 'product_January.csv',
 'product_July.csv',
 'product_June.csv',
 'product_March.csv',
 'product_May.csv',
 'product_November.csv',
 'product_October.csv',
 'product_September.csv']

In [16]:
all_product_data = pd.DataFrame()

for file in files_product_information:
    df = pd.read_csv('../data/product/' + file)
    all_product_data = pd.concat([all_product_data, df])

all_product_data.to_csv("../data/all_product_data.csv", index=False)

In [17]:
all_product = pd.read_csv('../data/all_product_data.csv',usecols=['Order_ID','Product','Quantity_Ordered','Price_Each'])

In [18]:
all_product.isnull().sum()

Order_ID            545
Product             545
Quantity_Ordered    545
Price_Each          545
dtype: int64

In [19]:
productdrop = all_product.dropna(how='all')
productdrop.isnull().sum()

Order_ID            0
Product             0
Quantity_Ordered    0
Price_Each          0
dtype: int64

In [20]:
products=productdrop.drop_duplicates('Order_ID')

In [21]:
products.to_csv("../data/product.csv", index=False)

### create a database connection to a SQLite database

In [22]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    
    return conn

In [23]:
pathToFile = "../code/"
fileName = "final.db"
dbConnection = create_connection(pathToFile + fileName)

In [24]:
if dbConnection:
    dbConnection.close()
    print("Connection closed")

Connection closed

In [25]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [26]:
sql_create_product_table = """CREATE TABLE IF NOT EXISTS product (
                                Order_ID bigint PRIMARY KEY,
                                Product text,
                                Quantity_Ordered integer,
                                Price_Each float
                            );"""
                            

sql_create_customer_table = """CREATE TABLE IF NOT EXISTS customer (
                                Order_ID bigint PRIMARY KEY,
                                Purchase_Address text
                            );"""
sql_create_month_table = """CREATE TABLE IF NOT EXISTS month (
                                Order_ID bigint PRIMARY KEY,
                                Month text
                            );"""

In [27]:
pathToFile = "../code/"
fileName = "final.db"
dbConnection = create_connection("final.db")

In [28]:
if dbConnection is not None:
    create_table(dbConnection,sql_create_product_table)
    create_table(dbConnection,sql_create_customer_table)
    create_table(dbConnection,sql_create_month_table)
else:
    print("Error! Cannot create the database connection.")

In [29]:
import numpy as np

In [30]:
customer = pd.read_csv('../data/' + 'customer.csv')
list1=customer.values.tolist()

In [31]:
def create_customer(conn, customer):
    """
    Create a new customer into the customer table
    """
    sql = ''' INSERT INTO customer(Order_ID,Purchase_Address)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.execute(sql,customer)
    conn.commit()
    return cur.lastrowid

In [32]:
conn=sqlite3.connect("final.db")
print("yes")
c=conn.cursor()
conn.commit()
for i in list1:
    c.execute("INSERT INTO customer VALUES(?,?)",i)
    conn.commit()

yes

In [43]:
product = pd.read_csv('../data/' + 'product.csv')
list2=product.values.tolist()

In [34]:
def create_product(conn, product):
    """
    Create a new product into the product table
    """
    sql = ''' INSERT INTO product(Order_ID,Product,Quantity_Ordered,Price_Each)
              VALUES(?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql,product)
    conn.commit()
    return cur.lastrowid

In [35]:
conn=sqlite3.connect("final.db")
print("yes")
c=conn.cursor()
conn.commit()
for i in list2:
    c.execute("INSERT INTO product VALUES(?,?,?,?)",i)
    conn.commit()

yes

In [36]:
month = pd.read_csv('../data/' + 'Month_data.csv')
list3=month.values.tolist()

In [37]:
def create_month(conn, month):
    """
    Create a new month into the month table
    """
    sql = ''' INSERT INTO month(Order_ID,Month)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.execute(sql,month)
    conn.commit()
    return cur.lastrowid

In [38]:
conn=sqlite3.connect("final.db")
print("yes")
c=conn.cursor()
conn.commit()
for i in list3:
    c.execute("INSERT INTO month VALUES(?,?)",i)
    conn.commit()

yes